<mat-toolbar class="root-toolbar" color="primary">
  <button mat-icon-button (click)="sidebar.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="" class="app-title text-white text-decoration-none"
    >Tours Admin</a
  >
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer class="main-side-drawer" #sidebar [mode]="'side'">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <div class="root-container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
