.main-side-drawer {
  position: fixed;
  min-width: 200px;
  padding-top: 70px;
}

.root-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.root-container {
  padding: 30px;
}
