<div class="dashboard-container">
  <div class="d-flex">
    <mat-icon style="font-size: 30px; margin-right: 10px"
      >insert_chart_outlined</mat-icon
    >
    <h1>Dashboard page!</h1>
  </div>
  <hr />
  <div>
    <h2>ToDo project</h2>
    <p>
      This screen will be filled with Cards and Charts coming soon. But for now
      it's used to track project progress. After this, all code below will be
      erased :)
    </p>

    <br /><br />

    <h3>Libs</h3>
    <ul>
      <li>
        <input type="checkbox" checked disabled />
        <label>Routing system</label>
      </li>
      <li>
        <input type="checkbox" checked disabled />
        <label>Material theme</label>
      </li>
      <li>
        <input type="checkbox" disabled />
        <label>CSS lib (tailwind or bootstrap)</label>
      </li>
      <li>
        <input type="checkbox" disabled />
        <label>And more?</label>
      </li>
    </ul>

    <h3>Dev good practices</h3>
    <ul>
      <li>
        <input type="checkbox" checked disabled />
        <label>CI Tool (Travis CI)</label>
      </li>
      <li>
        <input type="checkbox" checked disabled />
        <label>Code coverage follow up tool (Coveralls)</label>
      </li>
      <li>
        <input type="checkbox" disabled />
        <label>Docker image (with automated builds in docker hub</label>
      </li>
    </ul>

    <h3>Screens (CRUD)</h3>
    <ul>
      <li>
        <input type="checkbox" disabled />
        <label>Tours screen</label>
        <ul>
          <li>
            <input type="checkbox" disabled />
            <label>Reviews screen</label>
          </li>
          <li>
            <input type="checkbox" disabled />
            <label>Bookings screen</label>
          </li>
        </ul>
      </li>
      <li>
        <input type="checkbox" disabled />
        <label>Users screen</label>
      </li>
      <li>
        <input type="checkbox" disabled />
        <label>Dashboard screen</label>
      </li>
    </ul>
    <hr />
  </div>
</div>
